@using EntityLayer.Concrete
@using System.Globalization
@model List<Event>
@{
    ViewData["Title"] = "Theater Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Preloader -->
<div id="preloader">
    <div class="dorne-load"></div>
</div>

<<<<<<< HEAD
<!-- ***** Listing Destinations Area Start ***** -->
=======
<!-- ** Listing Destinations Area Start ** -->
>>>>>>> ipek
<section class="dorne-listing-destinations-area section-padding-100-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading dark text-center">
                    <span></span>
                    <h4>Tiyatrolar</h4>
<<<<<<< HEAD
                  
=======

>>>>>>> ipek
                </div>
            </div>
        </div>
        <div class="row">
<<<<<<< HEAD
            @foreach (var theater in Model)
            {
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-features-area mb-50 style=" width:340px;height:500px;"">
                        <!-- tıklanabilir bağlantı -->
                        <a href="@Url.Action("Details", "Theater", new { id = theater.EventId })" style="text-decoration: none; color: inherit;">
                        <img src="@theater.ImageUrl" alt="@theater.ImageUrl" style="width:340px;height:300px;"> <!-- Etkinlik resmi -->
                        <!-- Date -->
                        <div class="price-start">
                            <p> @theater.EventDate.ToString("dd MMMM yyyy", new CultureInfo("tr-TR")) </p>
                        </div>
                        <div class="feature-content d-flex align-items-center justify-content-between">
                            <div class="feature-title">
                                <h5>@theater.Title</h5> <!-- Etkinlik adı -->
                                <p>@theater.Description</p> <!-- Etkinlik açıklaması -->
                            </div>
                            <div class="feature-favourite">
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
=======
            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-features-area mb-50 style=" width:340px;height:500px;"">
                        <!-- Tıklanabilir bağlantı -->
                        <a href="@Url.Action("Details", "Stand_Up", new { id = item.EventId })" style="text-decoration: none; color: inherit;">
                            <img src="@item.ImageUrl" style="width:340px;height:300px;" alt="">
                            <div class="price-start">
                                <p>@item.EventDate.ToString("dd MMMM yyyy", new CultureInfo("tr-TR"))</p>
                            </div>
                            <div class="feature-content d-flex align-items-center justify-content-between">
                                <div class="feature-title">
                                    <h5>@item.Title</h5>
                                    <p>@item.Location</p>
                                </div>
                            </div>
                        </a>
>>>>>>> ipek
                    </div>
                </div>
            }
        </div>
    </div>
<<<<<<< HEAD
</section>

=======
</section>
>>>>>>> ipek
