@using EntityLayer.Concrete
@using System.Globalization
@model List<Event>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">



<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="dorne-load"></div>
    </div>


    <section class="dorne-listing-destinations-area section-padding-100-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading dark text-center">
                        <span></span>
                        <h4>Stand-Up Gösterileri</h4>

                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-features-area mb-50" style="width:340px;height:500px;">
                            <!-- Tıklanabilir bağlantı -->
                            <a href="@Url.Action("Details", "Stand_Up", new { id = item.EventId })" style="text-decoration: none; color: inherit;">
                                <img src="@item.ImageUrl" style="width:340px;height:300px;" alt="">
                                <div class="price-start">
                                    <p>@item.EventDate.ToString("dd MMMM yyyy", new CultureInfo("tr-TR"))</p>
                                </div>
                                <div class="feature-content d-flex align-items-center justify-content-between">
                                    <div class="feature-title">
                                        <h5>@item.Title</h5>
                                        <p>@item.Location</p>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                }
            </div>


        </div>
        </div>
    </section>

</body>

</html>